@model List<User>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold text-success">
            👤 All Users in Library
        </h2>
        <div class="class=" d-flex gap-2"">
            <a asp-controller="User" asp-action="AddUser" class="btn btn-success px-4">
                <i class="bi bi-plus-circle me-1"></i> Add New User
            </a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary px-4">
                <i class="bi bi-arrow-left-circle me-1"></i> Back
            </a>
        </div>
    </div>

    <table class="table table-bordered mt-3">
        <thead style="background-color:#2c3e50; color:white;">
            <tr>
                <th>Full Name</th>
                <th class="text-center" >Address</th>
                <th>Phone</th>
                <th>Membership Tier</th>
                <th class="text-center">Status</th>
                <th class="text-center">Details</th>
                <th class ="text-center">Edit</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var user = Model[i];
            
                var rowColor = i % 2 == 0 ? "#ffffff" : "#eaf4ff";

           
                if (user.MembershipTier?.TierId == 3)
                {
                    rowColor = "#ffe6e6"; 
                }
                else if (user.MembershipTier?.TierId == 2)
                {
                    rowColor = "#fff7e6"; 
                }

                <tr style="background-color:@rowColor;">
                    <td>@user.FullName</td>
                    <td class="text-center">@user.Address</td>
                    <td>@user.Phone</td>
                    <td>
                        @if (user.MembershipTier?.TierId == 3)
                        {
                            <span style="color:red; font-weight:bold;">
                                VIP ⭐👑⭐
                            </span>
                        }
                        else if (user.MembershipTier?.TierId == 2)
                        {
                            <span style="color:orange; font-weight:bold;">
                                Premium ⭐
                            </span>
                        }
                        else
                        {
                            <span style="color:green; font-weight:bold;">
                                Normal
                            </span>
                        }
                    </td>
                    <td>
                        <span class="@(user.Status ? "btn btn-success" : "btn btn-danger") d-flex align-items-center justify-content-center h-100 w-100">
                            @(user.Status ? "Active" : "Inactive")
                        </span>
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="DetailsUser" asp-route-id="@user.UserId" class="btn btn-success w-100 text-center">Details</a>
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="EditUser" asp-route-id="@user.UserId" class="btn btn-primary w-100 text-center">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger w-100 text-center"
                           onclick="openDeleteModal('User', @user.UserId, '@user.FullName')">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div >
@await Html.PartialAsync("_DeleteModal")
