
@model Borrowing

<div class="container mt-4 w-50">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0"><i class="bi bi-journal-text"></i> Borrowing Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">User</dt>
                <dd class="col-sm-8">@Model.User.FullName (@Model.User.UserName)</dd>

                <dt class="col-sm-4">Membership Tier</dt>
                <dd class="col-sm-8">@Model.User.MembershipTier.TierName</dd>

                <dt class="col-sm-4">Book</dt>
                <dd class="col-sm-8">@Model.Book.Title</dd>

                <dt class="col-sm-4">Borrow Date</dt>
                <dd class="col-sm-8">@Model.BorrowDate.ToShortDateString()</dd>

                <dt class="col-sm-4">Due Date</dt>
                <dd class="col-sm-8">@Model.DueDate.ToShortDateString()</dd>

                <dt class="col-sm-4">Return Date</dt>
                @* <dd class="col-sm-8">
                    @(Model.ReturnDate.HasValue? Model.ReturnDate.Value.ToShortDateString() : "Not Returned")
                </dd> *@
                <dd class="col-sm-8">
                    <span class="@(Model.ReturnDate.HasValue
                                  ? "bg-warning text-dark border border-warning rounded px-2 py-1"
                                  : "bg-danger text-white border border-danger rounded px-2 py-1")">
                        @(Model.ReturnDate.HasValue? Model.ReturnDate.Value.ToShortDateString() : "Not Returned")
                    </span>
                </dd>


                <dt class="col-sm-4">Status</dt>
                <dd class="col-sm-8">
                    <span class="badge @(Model.Status == "Returned" ? "bg-success" 
                        : (Model.Status == "Overdue" ? "bg-danger" : "bg-warning"))">
                        @Model.Status
                    </span>
                </dd>
                <dt class="col-sm-4">Fine</dt>
                <dd class="col-sm-8">@Model.FineAmount.ToString("C")</dd>

            </dl>
        </div>

        <div class="card-footer text-end d-flex justify-content-between mt-4">
            <div>
                <a class="btn btn-success px-4" asp-action="DetailsUser" asp-controller="User" asp-route-id="@Model.UserId" class="btn btn-secondary">Details User</a>
            </div>
            <div >
                <a class="btn btn-info px-4" asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
